body {
    background-color: #1F1F1F;
    color: #e6e6e6;
    font-family: 'Inconsolata', monospace;
    padding: 45px;
}

#container {
    display: flex;
    justify-content: space-between;
}

#sidebar {
    min-width: 150px;
    margin-right: 45px;
}

#latest-data .detail {
    font-size: 30px;
}

#latest-data .description {
    color: #999999;
    font-size: 15px;
}

.latest-reading {
    margin-top: 22px;
    margin-bottom: 22px;
}

#graph-container {
    flex: 1;
}

#graph-controls {
    margin-top: 22px;
}

button:hover {
    cursor: pointer;
}

button.control {
    background-color: #1f1f1f; /* Green */
    font-family: 'Inconsolata', monospace;
    border: none;
    color: #e6e6e6;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 15px;
}

button.selected {
    border-bottom: 3px solid #e6e6e6;
}
