<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2D2D2D" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>Regn</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
</head>

<body>
    <div id="container">
        <div id="sidebar">
            <div id="latest-data">

                <img src="{{url_for('static', filename='img/logo.png')}}" id="logo" />

                <div class="latest-reading">
                    <div class="detail">
                        <div id="latest-latitude" class="reading">
                        </div>
                    </div>
                    <div class="description" id="latest-latitude-title">
                    </div>
                </div>

                <div class="latest-reading">
                    <div class="detail">
                        <div id="latest-longitude" class="reading">
                        </div>
                    </div>
                    <div class="description" id="latest-longitude-title">
                    </div>
                </div>

                <div class="latest-reading">
                    <div class="detail">
                        <div id="latest-temperature" class="reading">
                        </div>
                    </div>
                    <div class="description" id="latest-temperature-title">
                    </div>
                </div>

                <div class="latest-reading">
                    <div class="detail">
                        <div id="latest-humidity" class="reading">
                        </div>
                    </div>
                    <div class="description" id="latest-humidity-title">
                    </div>
                </div>

                <div class="latest-reading">
                    <div class="detail">
                        <div id="latest-pressure" class="reading">
                        </div>
                    </div>
                    <div class="description" id="latest-pressure-title">
                    </div>
                </div>

                <div class="latest-reading">
                    <div class="detail">
                        <div id="latest-luminosity" class="reading">
                        </div>
                    </div>
                    <div class="description" id="latest-luminosity-title">
                    </div>
                </div>

            </div>
        </div>

        <div id="graph-container">
            <div id="graph">
                <canvas id="canvas"></canvas>
            </div>
            <div id="graph-controls">
                <div class="graph-controls-container">
                    <button id="temperature-control" class="control">
                    </button>
                    <button id="pressure-control" class="control">
                    </button>
                    <button id="humidity-control" class="control">
                    </button>
                    <button id="luminosity-control" class="control">
                    </button>
                </div>

                <div class="graph-controls-container">
                    <button id="day-control" class="control">
                    </button>
                    <button id="week-control" class="control">
                    </button>
                    <button id="month-control" class="control">
                    </button>
                    <button id="year-control" class="control">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
</body>

</html>
